Skip to content
This repository
Search
Pull requests
Issues
Marketplace
Explore
 @koromiko
 Sign out
 Watch 2,222
  Star 55,042
 Fork 24,126 github/gitignore
 Code  Pull requests 152  Projects 0 Insights 
Branch: master Find file Copy pathgitignore/Swift.gitignore
d31c40e  on Aug 23
@FabrizioBrancati FabrizioBrancati Updating Swift.gitignore with Package.resolved
18 contributors @KrauseFx @shiftkey @FabrizioBrancati @czechboy0 @Coeur @adrfer @nwest @nrbrook @natestedman @martinblech @yanniks @evfemist @dbburgess @chrisamanse @modocache @commscheck @bbodenmiller @chenyufeng1991
RawBlameHistory     
69 lines (57 sloc)  1.43 KB
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
© 2017 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
API
Training
Shop
Blog
About
