<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>987774238056-h65dd0tvvfbk90ppohh070ru04jete79.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987774238056-h65dd0tvvfbk90ppohh070ru04jete79</string>
	<key>API_KEY</key>
	<string>AIzaSyAgh3hhfbJEHkjxWjcgbv-SOkzEyyK6qDE</string>
	<key>GCM_SENDER_ID</key>
	<string>987774238056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sth.JoggingClub.app</string>
	<key>PROJECT_ID</key>
	<string>joggingclub-862d2</string>
	<key>STORAGE_BUCKET</key>
	<string>joggingclub-862d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987774238056:ios:04717506feb3262f</string>
	<key>DATABASE_URL</key>
	<string>https://joggingclub-862d2.firebaseio.com</string>
</dict>
</plist>